<!DOCTYPE html>
<html>
<head>

    <style>
        body {
            padding-top: 50px;
        }
    </style>
    <title>Bootstrap Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet" media="screen">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="../../assets/js/html5shiv.js"></script>
    <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
</head>

<script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='jquery-2.2.4.min.js') }}"></script>
<script src="{{ url_for('static', filename='toggle.js') }}"></script>
<!-- <script src="static/bootstrap.min.js"></script> -->

<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Domotica</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="/lights/">Lights</a></li>
                <li><a href="/temp/">Temperature</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>

{% block body %}

{% endblock %}

</body>
</html>