{% extends "head.html" %}

{% block body %}
    <div class="jumbotron" id="Lights">
        <div class="container">
            <h1>LUCCCEESSS</h1>
            <p class="lead">manejar luces</p>
            <button class="btn btn-primary btn-lg btn-block" id="toggle" type="button">Encender/Apagar luz</button>
        </div>
    </div>

    <script type="text/jscript">
    $("#toggle button").click(function() {
        $.console.out("JS");
        $.post("/toggle/", { choice1: $(this).val() } );

    });
</script>


{% endblock %}