{% extends "head.html" %}

{% block body %}
    <div class="jumbotron" id="Lights">
        <div class="container">
            <h1>LUCCCEESSS</h1>
            <p class="lead">poop</p>
            <button class="btn btn-primary btn-lg btn-block" id="toggle" type="button">Big ASS Learn more button</button>
        </div>
    </div>

    <div class="container">
        <div><h1>Estado de luces</h1></div>
        <div class="row"> <p>Luz 1: {{ estadoLuz }}</p> </div>
    </div>

    <script type="text/jscript">
    $("#toggle button").click(function() {
        $.console.out("JS");
        $.post("/toggle/", { choice1: $(this).val() } );

    });
</script>


{% endblock %}